streamlit>=1.39

pandas
numpy

scikit-learn
nltk
spacy

beautifulsoup4
requests

rank-bm25

networkx

plotly

matplotlib

wordcloud

joblib

sqlite-utils

newspaper3k

feedparser

python-dotenv

tqdm

streamlit-option-menu

streamlit-extras

feedparser
newspaper3k
lxml_html_clean